<h1>Showing Person {{.Data.Name}}</h1>

<ul>
    <li>Survived? <b>{{.Data.Survived}}</b></li>
    <li>PassengerClass <b>{{.Data.PassengerClass}}</b></li>
    <li>Sex <b>{{.Data.Sex}}</b></li>
    <li>SiblingsOrSpousesAboard <b>{{.Data.SiblingsOrSpousesAboard}}</b></li>
    <li>ParentsOrChildrenAboard <b>{{.Data.ParentsOrChildrenAboard}}</b></li>
    <li>Fare <b>{{.Data.Fare}}</b></li>
    <li>UUID <b>{{.Data.UUID}}</b></li>
<ul>